body {
  margin: 0;
}

/* ヘッダー */
#header {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 9999;
  background: #76ca7e;
  margin: 0;
  padding: 0;
  height: 50px;
  letter-spacing: 3px;
  max-width: 1200px;
  min-width: 100%;
}

#header_moblie {
  display: none;
}

h1.header_title {
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

h1.header_title a {
  color: #fff;
}

nav.header_menu {
  align-items: center;
  margin: 0 auto;
}

nav.header_menu ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav.header_menu li {
  padding: 0 20px;
}

nav.header_menu li a {}

/* レスポンシブ＠700px */
@media screen and (max-width:700px) {

  /* PCメニュー削除 */
  nav.header_menu {
    display: none;
  }

  /* モバイルメニュー */
  #header_moblie {
    display: block;
    margin-left: auto;
  }

  .header_moblie-menu {
    background: pink;
  }

  /* checkbox削除 */
  #burger-cb {
    display: none;
  }

  /* ハンバーガーアイコンの位置 */
  #burger-icon {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 40px;
  }

  /* ハンバーガーアイコンをCSSだけで表現 */
  #burger-icon span, #burger-icon span:before, #burger-icon span:after {
    position: absolute;
    height: 2px;
    width: 25px;
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }

  #burger-icon span:before {
    bottom: -8px;
  }

  #burger-icon span:after {
    bottom: -16px;
  }

  /* 中身 */
  #burger-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 700px;
    max-width: 100%;
    height: 50px;
    background: gray;
    top: 50px;
    /*左に隠しておく*/
  }

  /* out */
  #burger-cb:checked~#burger-close {
    display: none;
  }

  /* in */
  #burger-cb:checked~#burger-menu {
    display: block;
    opacity: .8;
    transition: .3s ease-in-out;
  }

  /* メイン */
  #main {
    padding-top: 50px;
    width: 70%;
    margin: auto;
  }

  .main_in {
    padding: 10px;
    background: pink;
    line-height: 400px;
  }

  .main_in span {
    line-height: 20px;
  }
