body, html {
  margin: 0;
  padding: 0;
  background: #ccc;
}

#title {
  padding: 10px;
  background: pink;
  font-size: 30px;
  height: 140px;
}

#menu {
  background: #fff;
}

#menu ul {
  display: flex;
  height: 50px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu li {
  padding: 10px;
}

/*メニュー固定*/
.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: pink;
}

.space {
  height: 500px;
  background: #eee;
}

.title_line {
  background: skyblue;
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

.box {
  background: #fff;
  margin: 0;
  padding: 0;
  padding: 10px 0;
}

.box_text p {
  padding: 10px 0;
  margin: 0;
  text-align: center;
}

.box_text table {
  width: 80%;
  margin: 0 auto;
  background: #ccc;
}

.box_text tbody {}

.box_text tr {}

.box_text th, td {
  border: 1px solid black;
  padding: 10px;
}

.box_text th {
  background: skyblue;
}

.box_text td {
  background: pink;
}

.photo_box img {
  width: 200px;
  border-radius: 10%;
  animation: fadeIn 2s ease 0s 1 normal;
}

.photo_box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.photo_box li {
  padding: 5px;
}

.photo_box a {
  opacity: 0.8;
}

.photo_box a:hover {
  opacity: 1;
}

/*スライド表示*/
.fadeInDown {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}

@keyframes fadeInDown {
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }

  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}


.popup:focus, .popup:active {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    height: auto;
    z-index: 100;
    background: #fff;
    padding: 20px;
    outline: 1px solid #aaa;
    max-width:60vw;/* 画像が大きい場合は、適宜調整 */
}
.popup {
    height: 96px;
    width:auto;
    cursor: pointer;
    display: inline;
}
