body {
  margin: 0;
}

/* ヘッダー */
#header {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 9999;
  background: #76ca7e;
  margin: 0;
  padding: 0;
  height: 50px;
  letter-spacing: 3px;
  max-width: 1200px;
  min-width: 100%;
}

#header_moblie {
  display: none;
}

h1.header_title {
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

h1.header_title a {
  color: #fff;
}

nav.header_menu {
  align-items: center;
  margin: 0 auto;
}

nav.header_menu ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav.header_menu li {
  padding: 0 20px;
}

nav.header_menu li a {}

/* メイン */
#main {
  padding-top: 50px;
  width: 70%;
  margin: auto;
}

.main_in {
  padding: 10px;
  background: pink;
}

p#au {
  padding-top: 900px;
}

.main_in span {
  line-height: 20px;
}

/* レスポンシブ＠700px */
@media screen and (max-width:700px) {

  /* PCメニュー削除 */
  nav.header_menu {
    display: none;
  }

  /* モバイルメニュー */
  #header_moblie {
    display: block;
    margin-left: auto;
  }

  .header_moblie-menu {}

  /* checkbox削除 */
  #burger-cb {
    display: none;
  }

  /* ハンバーガーアイコンをCSSだけで表現 */
  #burger-icon,
  #burger-icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }

  #burger-icon {
    position: relative;
    width: 30px;
    height: 44px;
    right: 10px;
    top: 12px;
  }

  #burger-icon span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }

  #burger-icon span:nth-of-type(1) {
    top: 0;
  }

  #burger-icon span:nth-of-type(2) {
    top: 10px;
  }

  #burger-icon span:nth-of-type(3) {
    top: 20px;
  }

  #burger-icon.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
  }

  #burger-icon.active span:nth-of-type(2) {
    opacity: 0;
  }

  #burger-icon.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
  }

  /* 中身 */
  #burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 700px;
    max-width: 100%;
    height: 50px;
    top: 50px;
    background: #fff;
    display: none;
  }

  /* 中身リスト */
  .header_menu-moblie {}

  .header_menu-moblie ul {
    list-style: none;
  }

  .header_menu-moblie li {
    float: left;
    padding: 0 10px;
  }
}
