body, html {
  margin: 0;
  padding: 0;
  background: #ccc;
}

/*タイトルヘッダ*/
#title {
  padding: 10px;
  background: pink;
  font-size: 30px;
  height: 140px;
}

/*メニュー*/
#menu {
  background: #fff;
}

#menu ul {
  display: flex;
  height: 50px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu li {
  padding: 10px;
}

/*メニュー途中固定*/
.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: pink;
}

/*各項目の隙間*/
.space {
  height: 500px;
  background: #eee;
}

/*項目見出し*/
.title_line {
  background: skyblue;
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

/*項目サブ見出し*/
.title_line-sub {
  background: skyblue;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

/*本文box*/
.box {
  background: #fff;
  margin: 0;
  padding: 0;
  padding: 10px 0;
}

/*本文box内テキスト*/
.box_text {}

.box_text p {
  padding: 10px 0;
  margin: 0;
}

/*profileテキスト*/
.box_text-pro {
  text-align: center;
}

.box_text-pro p {
  padding: 5px;
}

.box_text-pro span {
  font-size: 13px;
}

/*profile画像*/
.pro_img {
  width: 70px;
  height: auto;
}

/*profilebox*/
.pro_box {
  padding: 20px;
}

.pro_box table {
  width: 40%;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.pro_box th, td {
  padding: 10px;
}

.pro_box th {
  border: 0;
  border-bottom: 3px solid skyblue;
}

.pro_box td {
  border: 0;
  border-bottom: 3px solid #ddd;
}

/*スキル*/
#skill {
  width: 60%;
  margin: auto;
  padding-top: 30px;
}

.skill_box {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.skill_box-item {
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

.skill_box-item p {
  padding: 0;
}

/*アイコン*/
.skill_box img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  background: skyblue;
}

/*星*/
.star {
  margin: auto;
  position: relative;
  width: 5em;
  font-size: 20px;
}

.star-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}

.star-back {
  color: #ccc;
}

/*skill画像*/
.skill_box-table th img {
  width: 60px;
  height: auto;
  background: #eee;
  border-radius: 50%;
}

/*photo画像をスライドイン*/
.photo_box img {
  width: 200px;
  border-radius: 10%;
  animation: fadeIn 2s ease 0s 1 normal;
}

/*photo画像一覧*/
.photo_box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.photo_box li {
  padding: 5px;
}

.photo_box a {
  opacity: 0.8;
}

.photo_box a:hover {
  opacity: 1;
}

/*スライド表示*/
.fadeInDown {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}

@keyframes fadeInDown {
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }

  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/*photo画像popup*/
#graydisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}

#graydisplay img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: auto;
  border-radius: 0;
}
