body {
    background: #c7fdf1;
}

header {
    background: #9fe6d6;
    background-image: url(../image/header.jpg);
    background-position: 10% 30%;
    background-size: cover;
    height: 200px;
    font-display: block;
}

.center {
    background: #fffca5;
}

.incenter {
    background: #efdcdc;
    border: solid #008080;
    margin: 10px auto;
    text-align: center;
    width: 60%;
}

#title {
    margin: 0;
    font-size: 50px;
    color: #fff;
    line-height: 200px;
}